html {
  font-family: sans-serif;
  font-size: 62.5%;
}

.btn {
  margin-right: 8px;
}

.container {
  padding: 0 16px;
}

.section-title {
  font-size: 3rem;
}

.section-content {
  font-size: 1.5rem;
}