html {
  font-family: sans-serif;
}

hr {
  border: .5px solid rgba(0, 0, 0, .2);
}

/* style for notification message */
.success {
  color: rgb(53, 209, 53);
}

.error {
  color: rgb(219, 53, 53);
}

/* style for notes list item */
.note {
  color: grey;
  padding-top: 4px;
  font-size: 15px;
}

body {
  padding: 8px;
}

button {
  margin-top: 8px;
  padding: 2px 8px;
}

.margin-md {
  margin: 0 8px;
}

.delete-btn {
  margin-left: 8px;
}

label {
  display: block;
  margin: 8px 0;
}

input {
  padding: 8px;
}

.form {
  padding: 8px;
  width: 270px;
  border: .5px solid rgba(77, 77, 77, .4);
  border-radius: 4px;
}